$chomper-size: 7vw
$chomper-color: yellow
$open-angle: 130deg
$bite-duration: 0.333s
$food-size: $chomper-size / 1.5
$loader-background: hsl(0, 0%, 15%)
$loader-width: 60vw
$move-duration: $bite-duration * 20

body
  height: 100vh

.wrap
  position: relative
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: $loader-background

.loader
  position: relative
  width: $loader-width
  height: $chomper-size
  width: $loader-width
  display: flex
  align-items: center
  background:
    image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iNSAwIDcwIDIwIj48Y2lyY2xlIGN4PSI0MCIgY3k9IjEwIiByPSIxMCIgZmlsbD0iI2NjYyIvPjwvc3ZnPg==)
    repeat: repeat-x
    position: center
    size: $food-size

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    height: $chomper-size
    width: 100%
    background-color: $loader-background
    animation:
      name: cover-dots
      duration: $move-duration
      timing-function: linear
      iteration-count: infinite
.chomper
  position: absolute
  top: 0
  width: $chomper-size
  height: $chomper-size
  box-sizing: border-box
  border:
    width: $chomper-size / 2
    style: solid
    color: transparent transparent transparent $chomper-color
    radius: 50%
  animation:
    name: move-x
    duration: $move-duration
    timing-function: linear
    iteration-count: infinite

  &:before, &:after
    content: ''
    display: block
    position: absolute
    left: -$chomper-size / 2
    top: -$chomper-size / 2
    width: $chomper-size
    height: $chomper-size
    box-sizing: border-box
    border:
      style: solid
      width: $chomper-size / 2
      radius: 50%
    animation:
      duration: $bite-duration
      timing-function: ease-out
      iteration-count: infinite

  &:before
    animation-name: chomp-top
    border-color: $chomper-color transparent transparent $chomper-color
    transform: rotate(45deg)

  &:after
    animation-name: chomp-bottom
    border-color: $chomper-color transparent transparent $chomper-color
    transform: rotate(225deg)


@keyframes chomp-top
  0%, 25%, 100%
    transform: rotate(45deg - $open-angle / 2)
  35%, 65%
    transform: rotate(45deg)

@keyframes chomp-bottom
  0%, 25%, 100%
    transform: rotate(-137deg + $open-angle / 2)
  35%, 65%
    transform: rotate(-137deg)

@keyframes move-x
  0%
    transform: rotateY(0deg)
    left: -$chomper-size
  49.999%
    transform: rotateY(0deg)
  50%
    transform: rotateY(180deg)
    left: $loader-width
  70%
    left: -$chomper-size
    transform: rotateY(180deg)
  70.001%
    transform: rotateY(0deg)
  100%
    left: -$chomper-size
    transform: rotateY(0deg)


@keyframes cover-dots
  0%
    opacity: 1
    width: 0%
  50%
    width: 100%
  86%
    opacity: 1
  94%
    opacity: 0
  100%
    opacity: 0
    width: 100%
